:root{
    --primary-bg: #9b1f17;
    --primary-bg--dark: #660c05;
    --secondary-bg: rgb(240, 240, 240);
    --text-color: rgb(0, 0, 0) ;
}

.container{
    height: 100vh;
}
body{
background-color: var(--secondary-bg);
font-family: 'Chakra Petch', sans-serif;
/*min-height: 500vh;
overflow: hidden;*/
}

.primary{
    background-color: var(--primary-bg);
}

.secondary{
    background-color: var(--secondary-bg);
}

.textColor{
    color: var(--text-color);
}


.round{
    border: 2px solid var(--secondary-bg);
    padding: 0 10px;
}

footer{
    min-height: 100px;
    background-color: var(--primary-bg);
}

.responsiveIMG{
    width: 100%;
    height: auto;
}

.btn-outline-dark{
    border-color: var(--primary-bg);
}
.btn-outline-dark:hover{
    background-color: var(--primary-bg--dark);
}

#qLparent .col-12 {
    flex-shrink: 1;
    transition: all 4s ease;
  }
  
#qLparent .col {
    flex-grow: 1;
    transition: all 4s ease;
  }


  .formB{
    min-height: 80%;
  }

  .formBtn{
    min-height: 20%;
}

textarea{
    resize: none;
}
.hidden{
    visibility: hidden;
}
  .btn-size {
    width: 100%;
  }
  .main-content {
    padding-bottom: 100px;
  }
 
  .form-group .errorMessage {
    color: red;
}