:root{
    --primary-bg: red;
    --secondary-bg: white;
}

.container{
    height: 100vh;
}
body{
background-color: var(--secondary-bg);
font-family: 'Chakra Petch', sans-serif;
/*min-height: 500vh;
overflow: hidden;*/
}

.primary{
    background-color: var(--primary-bg);
}
.secondary{
    background-color: var(--secondary-bg);
}


.round{
    border: 2px solid var(--secondary-bg);
    border-radius: 40%;
    padding: 0 10px;
}

footer{
    min-height: 100px;
    background-color: var(--primary-bg);
}

.responsiveIMG{
    width: 100%;
    height: auto;
}